<h1>All Article</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Text</th>
    <th>Time-created</th>
  </tr>

  <% @articles.each do |article, index| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.author %></td>
      <td><%= article.text %></td>
      <td><%= article.created_at %></td>
      <td> <%= link_to 'show', show_article_url(article) %> </td>
    </tr>
  <% end %>
</table>
